@page "/"

<h1>Zoomable Timeseries Chart</h1>

<div>
    <BlazorApexCharts.ApexChartComponent ChartId="sample-chart" Options="Options" />
</div>

@code {
    public BlazorApexCharts.Configuration.ChartOptions Options { get; set; }

    protected override void OnInitialized()
    {
        Options = BlazorApexCharts.Configuration.ChartOptionsBuilder.ZoomableTimeseries(
            "Desktops",
            new List<string> { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep" },
            new List<decimal> { 10, 41, 35, 51, 49, 62, 69, 91, 148 });

        // default is set to datetime, we remove here
        Options.Xaxis.Type = null;
    }
}
